.App {
  display: flex;
  justify-content: center; /* 横方向に中央揃え */
  align-items: center; /* 縦方向に中央揃え */
  height: 100vh; /* 画面の高さいっぱいに設定 */
}



body {
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

h1 {
  text-align: center;
  color: #ddd;
}

.SearchBar {
  display: flex;
  align-items: center;

}

.SearchBar input[type="text"] {
  width: 500px;
  margin-right: 10px;
  height: 5px;
}

.SearchBar input[type="checkbox"] {
  margin-right: 5px;
}

.SearchBar label {
  margin-left: 10px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  color: white; 
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.product-table th {
  background-color: #f2f2f2;
}

.product-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-table tr:hover {
  background-color: #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: rgb(55, 57, 76);
  color: white;
}

tr:nth-child(even) {
  background-color: #5059ce;
}
